@import "../../../styles.scss";

.item{
    max-width: 750px;

    a{
        color: $primary-green;
        i{
            color: $secondary-green;
        }
    }
    &-title{
        margin-bottom: 0px;
    }

    &-subtitle{
        margin-bottom: 10px;
    }
    &-description{
        text-align: justify;
        text-justify: inter-word;
    }
}